body,
html {
}
.teams-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.height {
  min-height: 80vh;
}

.hide {
  display: none;
}

main {
  border: red 20px solid;
}

.winner {
  font-weight: bold;
}
